body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 20px 100px 0px 100px;
    background: #f3f3f3;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

textarea {
    width: 100%;
    max-width: 500px;
    height: 100px;
}

.page-footer {
	margin-top: 10px;
	background-color: #ADD8E6;
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
}